@charset "utf-8";


/* Farbwerte
gelb:
rgba(232,216,168,125)
#e8d87d

*/


/* Webfonts-Einbindung */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital@0;1&display=swap');
/*.alegreya-sans-regular {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya-sans-regular-italic {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
*/

/*
* CSS-Design
* TikTok Bio Chogan Dacapo
*/
 
/* Reset * * * * * * * * */
*{
margin: 0;
padding: 0;
-mozbox-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}


body{
font: 400 1.125rem/1.55 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}


html{
height: 100%;
scroll-behavior: smooth;
}

 
.wrapper{
max-width: 985px;
padding: 0 25px;
margin: 0 auto;
}

/* Clearfix */
.row:before,
.row:after {
content: " ";
display: table;
}
 
.row::after {
clear: both;
}
 
/*
.row{
background: #fff;
margin: 20px 0;
}
*/
 

img{
max-width: 100%;
height: auto;
}

section{
padding: 40px 0;
}

.logo{
max-height: 140px;
margin-top: -30px;
margin-bottom: 0px;
}

/* Typo */
h1, h2, h3, h4, h5, h6{
font-family: 'Alegreya Sans', sans-serif;
font-weight: 400;    
margin-bottom: 20px;
line-height: 1.2;
}

h1{     
font-size: 2.2rem; /* 58px; */     
margin-bottom: 0px;     
line-height: 1.2;
} 
 
h2{     
font-size: 1.75rem; /* 34px; */   
  margin-bottom: 25px;     
} 
 
h3{    
font-size: 1.5rem; /* 28px; */ 
}

a{ 
text-decoration: none; 
  color: #333;
}

p {     
margin: 0 0 15px; 
}

/* main */
.main{
background-color: #e8d87d;
max-width: 100%;
padding-bottom: 100px;
  margin: 20px;
  border-radius: 50px 0 50px 50px;
}

img.portrait{
  border-radius: 50px 0 50px 50px;
}

.button{
background: linear-gradient(to top left, grey, white);
padding: 10px 20px 12px;
text-decoration: none;
text-transform: none;
letter-spacing: 1px;
border-radius: 35px 0 35px 35px;
font-weight: 600;
display: inline-block;
margin: 20px 25px 0 0;
transition: all 0.15s ease-out 0s;
box-shadow: 6px 6px 10px rgba(51,51,51,0.4);
}

.footer a{
  text-decoration: underline;
}

.footer p{
  margin: 50px 20px 20px 20px;
  border-radius: 20px 0 20px 20px;
  font-style: italic;
  background-color: #e8d87d; 
  padding: 15px 0;
}